body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
img{
    width:  500px;
    height: 220px;
    max-width:100%;
}
header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav {
    display:flex;
    justify-content: space-between;
    gap: 450px;
    margin-top: 8px;
    margin-bottom: 0;
}
nav a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
nav ul{
    margin: 0;
    padding:0;
    list-style-type: none;
    display: flex;
    gap: 12px;
}
.below-nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 100px 145px;
    flex: 1 1 0;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}
.below-nav p {
    font-size: 18px;
    color: #E5E7EB;
}
nav span {
    font-size: 24px;
    color: #F9FAF8;
}
.left button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    text-align: center;
    padding: 8px 35px;
    border-radius: 8px;
    border: none;
}
.left {
    flex-wrap: wrap;
}

.image-gallery {
    display: flex;
    flex: 1 1 0;
}